.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4rem;
  background-color: #eee;
}
/** header **/
header {
  background-color: var(--gray-dark);
  padding: 2rem;
  text-align: center;
  color: #fff;
}
header + section.flexContainer {
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}
aside {
  background-color: #fff;
  padding: 1rem 2rem 2rem;
}
section.flexContainer {
  flex-direction: column;
  gap: 2rem;
}
section.flexContainer article {
  padding: 2rem;
  background-color: #fff;
  /* margin: 0 2rem; */
}
@media (min-width: 768px) {
  header + section.flexContainer {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    margin: 4rem 0;
  }
  main {
    flex: 2;
  }
  aside {
    flex: 1;
    position: sticky;
    top: 0;
  }
  .card {
    flex: 1 1 calc(50% - 4rem);
  }
}
@media (min-width: 1024px) {
  .card {
    flex: 1 1 calc(33.33% - 4rem);
  }
}
footer {
  text-align: center;
  background-color: var(--gray-light);
  padding: 2rem;
}
