/* reset */
:root {
  --gray-dark:#111;
  --gray-light:#ccc;
}
* { box-sizing: border-box;}
html {font-size: 62.5%;}
body {
  margin: 0;
  color: var(--gray-dark);
  font-size: 1.6rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 2rem 0;
}
h2 {
  font-size: 2.6rem;
  margin: 1rem 0;
}
/*** CLASSES ***/
.flexContainer {
  display: flex;
  flex-wrap: wrap;
}